@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Poppins:wght@300;400;500;600;700&display=swap');


:root {
  --fontCol1: #17252a;
  --col2: #2b7a78;
  --bodyBg: #3aafa9;
  --col1: #def2f1;
  --font2: #feffff;
  --fontFam1: 'Poppins', sans-serif;
  --fontFam2: 'Lato', sans-serif;
}

.strana-filma {
  max-width: 700px;
  padding: 15px;
}

img{
  height: 150px;
  width: 100%;
  margin: 0;
  padding: 0;
}

.info {
  display: flex;

}

.slika {
  margin: 10px;
}

.naziv {
  margin: 10px 10px;
  color: var(--fontCol1)
}

.sadrzaj p {
  font-size: 1.1rem;
  line-height: 1.18;
  color: var(--col1);
  font-family: var(--fontFam2);
}

.linkovi {
  margin: 20px 0;
}

.ep {
  display: flex;
  margin-top: 10px;
  align-items: center;
}

.dugme {
  margin-left: 20px;
  padding: 5px 15px;
  border: none;
}

.dugme a {
  text-decoration: none;
  color: var(--bodyBg);
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
}
