@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Poppins:wght@300;400;500;600;700&display=swap');


:root {
  --fontFam1: 'Poppins', sans-serif;
  --fontFam2: 'Lato', sans-serif;

  --crvena: #e50914;
  --fontCol1: #3d4449;
  --fontCol2: #7f888f;
  --bg1: #eff1f2;
  --bg2: #f5f6f7;
  --footerCol: #9fa3a6;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
}

.container {
  background-color: var(--bodyBg);
  min-height: 100vh;
}

h1 {
  text-align: center;
  padding-top: 30px;
  font-family: var(--fontFam1);
  color: var(--fontCol1);
  text-transform: uppercase;
  border-bottom: 4px solid var(--crvena);


}

.pocetni-naslov {
  font-size: 1.1rem;
  padding-bottom: 15px;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 30px;
  max-width: 1000px;
  margin: 30px auto;
  padding: 0 1.2rem;
}

.item {
  padding: 10px;
}

img {
  width:100%;
  height: 100%;

  border-radius: 15px;
  background: #e0e0e0;
  box-shadow:  9px 5px 18px #cecece,
             -9px -9px 18px #f2f2f2;
}

.ime-naslova {
  color: var(--fontCol2);
  margin-top: 9px;
  padding-left: 10px;

}









@media screen and (max-width: 500px) {

  .wrapper {
    grid-template-columns: repeat(2, 1fr);
  }

  h1 {
    font-size: 1.3rem;
  }



}
